<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto,wght@1,300;1,500&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" , href="/stylesheets/style.css" />
		<title><%= title %></title>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/bugs/report">REPORT A BUG</a></li>
				<li><a href="/bugs/status">CHECK REPORT STATUS</a></li>
				<li><a href="/account-reports">MY REPORTS</a></li>
				<li><a href="/">RETURN TO SITE</a> 
				</ul>
			</li>
			<% if (user) { %>
				<img id="pfp" src="<%= user.avatar %>">
				<a class="login-logout" href="/logout">LOG OUT</a>
			<% } else { %>
				<a class="login-logout" href="/auth/google">LOG IN</a>
			<% } %>
		</nav>
		<main>
			<h1><%= title %></h1>
		</main>
	</body>
</html>
