<%- include("../partials/header") %>

<% if (user) { %>
<%= user %>
<h2>Hi, <%= user.name %>, here are your reports.</h2>
    <% } else { %>
        <h2>Please <a href="/auth/google">log in</a> to view your reports.</h2>
        <% } %>


<%- include("../partials/footer") %>