* {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	font-family: "Roboto", sans-serif;
}

input {
	margin: 3vmin;
}

#report-body-input {
	height: 30vmin;
}

.login-logout {
	text-align: right;
	right: 1vmin;
	position: absolute;
}
