
:root {
	--darkblue: #2783db;
	--green: #31db4e;
	--teal: #27dbc0;
	--blue: #27bcdb;
	--darkgreen: #27b883;
}

* {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 1rem 2rem;
	background-color: var(--darkblue);
	justify-content: space-between;
	align-items: center;
	border-bottom: 1rem solid darkblue;
	height: 4.5rem;
}

a {
	text-decoration: none;
	padding: 1rem;
	text-align: left;
}

nav>ul {
	display: flex;
	list-style: none;
}

nav li {
	padding-left: 2rem;
}

nav a{
	text-decoration: none;
	color: white;
	transition: 100ms;
}

nav a:hover {
	color: darkblue;
	font-size: 125%;
	transition: 100ms;
}

textarea {
	width: 40rem;
	height: 3rem;
	padding: .5rem;
	text-align: left;
	font-size: medium;
	border: .3rem solid black;
	border-radius: 10%;
}

input {
	width: 20rem;
	height: 2rem;
	padding: .5rem;
	text-align: center;
	font-size: medium;
	border: .3rem solid black;
	border-radius: 10%;
}

#report-body {
	height: 20rem;
	margin-top: 1rem;
	text-align: left;
	font-size: medium;
	border-radius: 5%;
}

.login-logout {
	align-self: flex-end;
	justify-self: end;
}

h1 {
	text-align: center;
	margin: 7vmin;
}

button {
	transition: 100ms;
	font-family: "Open Sans", sans-serif;
	font-family: "Roboto", sans-serif;
	margin-top: 2rem;
	width: 5rem;
	height: 2rem;
	border: .2rem solid black;
	border-radius: 15%;
}

button:hover {
	background-color: black;
	color: white;
	transition: 100ms;
	width: 6rem;
	height: 3rem;
	font-size: large;
}

#pfp {
	border-radius: 50%;
	border: .15rem solid darkblue;
	height: 3rem;
	position: relative;
	left: 4rem;
	top: -.1rem;
}
