<%- include("../partials/header") %>

<h1>Report a Bug</h1>
<form id="report-form" action="/bugs" method="POST">
	<textarea
		id="report-subject-input"
		type="text"
		placeholder="Subject"
	></textarea>
	<br />
	<textarea
		id="report-body-input"
		type="textarea"
		placeholder="Please provide as much detail as possible regarding your issue."
	></textarea>
	<br />
	<button type="submit">Send</button>
</form>

<%- include("../partials/footer") %>
