<%- include("../partials/header") %>

<form id="report-form" action="/bugs" method="POST">
	<textarea name="subject" type="text" placeholder="Subject"></textarea>
	<br />
	<textarea
		name="body"
		id="report-body"
		type="textarea"
		placeholder="Please provide as much detail as possible regarding your issue."
	></textarea>
	<br />
	<button type="submit">Send</button>
</form>

<%- include("../partials/footer") %>
