<%- include("../partials/header") %>
<h1> Report a Bug </h1>
<form>
    <label>Subject:
        <input id="report-subject-input" type="text" placeholder="Briefly describe your bug.">
    </label><br>
    <label>Description:
        <input id="report-body-input" type="textarea" placeholder="Please provide as much detail as possible regarding your issue.">
    </label><br>
    <button type="submit">Send</button>
</form>

<%- include("../partials/footer") %>