<%- include("../partials/header") %>

<h2><%= bug.subject %></h2>
<p><%= bug.body %></p>

<form action="/bugs" method="PUT">
	<button type="submit">Edit Report</button>
</form><br>

<form method="POST" action="/bugs/status?_method=DELETE">
	<input type="hidden" name="_id" value="<%  bug._id %>">
	<button type="submit">Delete Report</button>
</form>

<p>This report is currently open.</p>

<%- include("../partials/footer") %>
