<%- include("../partials/header") %>

<h1>Check Report Status</h1>

<form>
    <input type="text" placeholder="Support Ticket Number">
    <button type="submit">Check Report</button>
</form>



<%- include("../partials/footer") %>