<%- include("../partials/header") %>

<form action="/bugs/show/" method="GET">
	<input type="text" name="ticketNo" placeholder="Support Ticket Number" /> 
	<button type="submit">Search</button>
</form>

<!-- Handle incorrect numbers -->

<%- include("../partials/footer") %>
