<%- include("../partials/header") %>

<h1>Thank you!</h1>
<h2>Your Ticket Number is KLSDJLFJSDLKJFLSDKJ</h2>
<p>Please store this number somewhere safe</p>
<button>Return To Site</button>

<%- include("../partials/footer") %>