<%- include("../partials/header") %>

<h2>Your Ticket Number is <span id="ticketno"><%= ticketNo %></span></h2>
<p>Please store this number somewhere safe</p>
<button>Return To Site</button>

<%- include("../partials/footer") %>